.map-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin: 10px auto;
}

.map-button {
    margin: 0px 3px;
    padding: 5px;
    width: 8rem;
    text-align: center;
    
    background-color: whitesmoke;
    border-radius: 4px;
}

.map-button.selected {
    background-color: #CCCCCC;
    text-decoration: underline #A5A5A5;
}

.map-button.unselected {
    cursor: pointer;
}