.marker-popup {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 3px;
    cursor: default;
}

.marker-popup-image {
    padding-right: 10px;
}

.marker-link {
    cursor: pointer;
    color: #0070E0;
    text-decoration-line: underline;
}