.header-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100px;

    background-color: var(--bonus-yellow);
}

.header-navlink {
    text-decoration: none;
}

.header-navlink.active {
    pointer-events: none;
}

.header-item {
    width: 150px;
    padding: 20px;

    color: black;
    font-weight: bold;
    font-size: 40px;
}